/* .svg-2560 {
  display: block;
  position: absolute;
  z-index: -4;
}

.svg-2560-second {
  display: block;
  position: absolute;
  top: 260rem;
  z-index: -4;
}

.svg-1920 {
  display: none;
}

.svg-1920-second {
  display: none;
}

@media (max-width: 1920px) {
  .svg-2560 {
    display: none;
  }

  .svg-2560-second {
    display: none;
  }

  .svg-1920 {
    display: block;
    position: absolute;
    z-index: -4;
  }

  .svg-1920-second {
    display: block;
    position: absolute;
    z-index: -4;
    top: 260rem;
  }
} */

.bg {
  width: 100vw;
  background-color: #124a8c;
}
