.contact_card_link {
  text-decoration: none;
}

.contact-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* distribui melhor os itens */
  align-items: center;
  gap: 0.5rem;
  padding: 2.5rem;

  background-color: #042f62;
  color: var(--primary-color);
  border-radius: 60px;

  width: 21.875rem;
  box-sizing: border-box;

  text-align: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.contact-card-container:hover {
  background-color: #073772;
  color: var(--primary-color);
}

.contact-card-texts h3 {
  font-size: 1.5em;
  margin: 0.5rem 0;
}

.contact-card-texts p {
  font-size: 1.2em;
  margin: 0;
}

@media (max-width: 440px) {
  .contact-card-container {
    width: 250px;
    height: 200px;
    gap: 0;
    justify-content: space-evenly;
  }

  .contact-card-container {
    padding: 1rem 0;
  }

  .contact-card-texts h3 {
    font-size: 1.2em;
    margin: 0;
  }

  .contact-card-texts p {
    font-size: 01em;
    margin: 0;
  }
}
