.expedition_technology_section {
  width: 100vw;
  height: auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url("/src/assets/2.svg");
  background-repeat: no-repeat;
  background-size: 100% 210%;
  background-position: bottom;
}

.expedition_technology_section > h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.expedition_technology_text_container {
  width: 100%;
  display: flex;
  margin-bottom: 7rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expedition_technology_text_container > h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.expedition_technology_text_container > p {
  font-size: 1.125rem;
  color: gray;
  text-align: center;
  margin: 0;
}

.expedition_technology_features_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expedition_technology_features_container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.expedition_technology_features_container img {
  width: 100px;
  height: 100px;
}

.li_feature_item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.li_feature_item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #266394;
  color: #fff;
}
.li_feature_item p {
  color: gray;
  margin: 0;
}
