.app-header {
  display: flex;
  height: 100vh;
}

.header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-presentation {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.header-presentation h1 {
  width: 100%;
  font-size: 3.5rem;
  font-style: italic;
  line-height: 1.2;

  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0 10px; /* exemplo de padding interno */

  margin: 0;
  color: var(--primary-text-color);
  box-sizing: border-box;
}

.header-presentation p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 0 6rem;
  margin: 0;
  color: var(--primary-text-color);
}

.header-contact-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 100%;
  height: 3.5rem;
  padding: 0 1.5rem;
  color: var(--secondary-color);
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  background: none;
  font-size: 1.2em;
  font-weight: 550;
  border: solid 1px var(--secondary-color);
  z-index: 2;
}

.header-contact-btn a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* .header-image {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.header-image img {
  position: absolute;
  flex: 1;
  left: 2rem;
  bottom: 7.5rem;
  width: 100%;

  border-radius: 25px;
  object-fit: cover;
} */

@media (max-width: 440px) {
  .app-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 0 5rem 0;
  }

  .header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
  }

  .header-presentation {
    width: 95vw; /* ocupa quase toda a tela */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-presentation img {
    width: 70%; /* ocupa quase toda a tela */
  }

  .header-presentation h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    text-align: center;
    line-height: 1.2;
    padding: 0 0.5rem;
    margin: 0;
    box-sizing: border-box;
  }

  .header-presentation p {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    line-height: 1.4;
    padding: 0 1rem;
    text-align: justify;
    margin: 0;
  }

  .header-contact-btn a {
    width: 80%; /* ocupa boa parte da tela */
    font-size: clamp(1rem, 4vw, 1.2em);
    padding: 0 1rem;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-height: 740px) {
  .header-presentation {
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header-info {
    gap: 0rem;
  }
}
