.history_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7rem 0;

  background-image: url("/src/assets/8.svg");
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: right center;
}

.history_image {
  width: 18.75rem;
}

.history_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  max-width: 1137px;
}

.history_text_container > h1,
.history_text_container > p,
.history_text_container > b {
  color: gray;
}

.history_text_container > h1 {
  font-size: 3rem;
  margin: 0;
}

.history_text_container > p,
.history_text_container > b {
  font-size: 1.25rem;
}

.history_text_container b {
  text-align: center;
}

@media (max-width: 480px) {
  .history_container {
    background-image: none;
  }

  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .history_image {
    width: 65%;
    max-width: 250px;
    margin-bottom: 2rem;
  }

  .history_text_container {
    width: 90%;
    text-align: justify; /* melhora leitura em telas pequenas */
  }

  .history_text_container > h1 {
    font-size: clamp(1.5rem, 6vw, 2rem);
    margin-bottom: 1rem;
    text-align: center;
  }

  .history_text_container > p,
  .history_text_container > b {
    font-size: clamp(1rem, 4vw, 1.2rem);
    line-height: 1.5;
  }

  .history_text_container > b {
    margin-top: 1rem;
    display: block;
    text-align: center;
  }
}
