@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  --primary-color: #ffffff;
  --secondary-color: #042f62;
  --primary-text-color: #042f62;
  --secondary-text-color: #ffffff;

  color: var(--secondary-color);
  background-color: var(--primary-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 700;
}
p {
  text-align: justify;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 440px) {
  li {
    margin-bottom: 0.5rem;
  }
}
