.section-container {
  display: flex;
  padding: 0 10rem;
  padding-bottom: 12.5rem;
}

.text-content {
  flex: 1;
}

.text-content h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.text-content p {
  font-size: 1.25rem;
  font-weight: 400;
}

.image-content-reversed {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.image-content-reversed img {
  max-width: 600px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.image-content img {
  max-width: 600px;
}
