.services_section {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("/src/assets/1.svg");
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: center;
}

.services_title_container {
  width: 100vw;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_title_container > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.services_title_container > p {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.services_content_container {
  width: 100vw;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_service_content_container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.left_service_content_container > h2 {
  margin: 0 0 1.5rem 0;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.left_service_content_container > ul {
  margin: 0 0 4rem 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  font-size: 1.3rem;
  list-style-type: none;
  color: gray;
}

.icons_service_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons_service_container img {
  width: 5.625rem;
  height: 5.625rem;
}

.icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_container > p {
  margin: 0;
  color: gray;
  text-align: center;
}

.right_service_content_container {
  width: 45%;
}

.map_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#mapImage {
  width: 31.25rem;
  height: 31.25rem;
  /* background-color: #d9e6ed; */
  border-radius: 50px;
  background-image: linear-gradient(245deg, #ededf0, white);
}

#mapInfoImage {
  width: 18.75rem;
  height: 18.75rem;
}

.map_text_container {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.map_text_container p {
  color: gray;
  width: 50%;
  text-align: center;
  margin: 0;
  padding-right: 1rem;
}

@media (max-width: 440px) {
  .services_line_breaker {
    display: none;
  }

  .services_section {
    height: auto;
    margin-top: 4rem;
    padding: 0;
    background-image: none; /* Remove o fundo no mobile */
  }

  .services_title_container > h1 {
    font-size: 2rem;
  }

  .services_title_container > p {
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
  }

  .services_content_container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .left_service_content_container,
  .right_service_content_container {
    width: 100%;
    align-items: center;
  }

  .left_service_content_container > h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .left_service_content_container > ul {
    font-size: 1rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .icons_service_container {
    display: grid;
    grid-template-columns: 150px 150px;
  }

  .icons_service_container img {
    width: 4rem;
    height: 4rem;
  }

  #mapImage {
    width: 16rem;
    height: 16rem;
    border-radius: 20px;
  }

  #mapInfoImage {
    width: 10rem;
    height: 10rem;
  }

  .map_container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .map_text_container {
    font-size: 1.1rem;
  }

  .map_text_container p {
    width: 90%;
    padding: 0;
  }
}
